/* you can add to or change this. */

#start-screen {
  text-align: center;
  width: 300px;
  height: 150px;
  background-color: aquamarine;
  /* This helped with fixed positioning: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
  position: fixed;
  margin: auto auto;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 100;
}

#game {
  opacity: 20%;
}
#card-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-items: center;
  justify-items: center;
  align-items: center;
  width: 750px;
  height: 300px;
  margin: 0 auto;
}

.card {
  background-color: gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 125px;
  width: 100px;
  margin: 5%;
}

#play-again-screen {
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: aquamarine;
  /* This helped with fixed positioning: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
  position: fixed;
  margin: auto auto;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 100;
}