/* you can add to or change this. */
.body {
  font-family: 'Noto Sans', sans-serif;
}

.title {
  font-family: 'Rubik Iso', cursive;
  font-size: 40px;
}

#start-screen {
  text-align: center;
  width: 400px;
  height: auto;
  background-color: aquamarine;
  /* This helped with fixed positioning: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
  position: fixed;
  margin: auto auto;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 100;
  /* Got the next line from: https://developer.mozilla.org/en-US/docs/Learn/CSS/Howto/Add_a_shadow */
  box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  font-family: 'Noto Sans', sans-serif;
}

#start-screen h3 {
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

button {
  /* Allows the button to inherit the font of its parent.*/
  font-family: inherit;
}

#start-screen button {
  margin: 5% 0;
}

#game {
  opacity: 20%;
}

#game h1 {
  text-align: center;
  font-size: 60px;
}

#scoreboard {
  font-family: 'Noto Sans', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#score {
  float: left;
}
#best-score {
  float: right;
}

#card-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  place-items: center;
  justify-items: center;
  align-items: center;
  width: 750px;
  height: auto;
  margin: 0 auto;
  padding-bottom: 5%;
}

.card {
  background-color: gray;
  border: 1px solid rgba(0, 0, 0, 0.8);
  height: 125px;
  width: 100px;
  margin: 5%;
}

#play-again-screen {
  text-align: center;
  width: 300px;
  height: auto;
  background-color: aquamarine;
  /* This helped with fixed positioning: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element */
  position: fixed;
  margin: auto auto;
  top: 5%;
  left: 0;
  right: 0;
  z-index: 100;
}

#play-again-screen button {
  margin: 3% 0;
}